{%extends 'base.html'%}

{%block body_block%}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form action="" method="post">
                {%csrf_token%}
                <input type="text" name="t_id" placeholder="enter an id">
                <input type="submit" value="fetch">
            </form>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i>id :-</i>{{todo.id}}</li>
                    <li class="list-group-item"><i>user :-</i>{{todo.user}}</li>
                    <li class="list-group-item"><i>task name :-</i>{{todo.task_name}}</li>
                    <li class="list-group-item"><i>status :-</i>{{todo.status}}</li>
                </ul>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>

{%endblock%}